In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('customer.csv')
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

Numerraicl data                        
- Age            
categorical data
- nominal data --> review, education         
- ordinal data --> gender, purchased

NOW,
- apply label encoding on output which is purchased [ Label encodeing is only used on traget variable don't use it on input variable ]


- apply ordinal encoder on gender and eduction 


leave  age and gender for now

In [3]:
df = df.iloc[:,2:]

In [4]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [5]:
df.shape

(50, 3)

In [6]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split( df.iloc[:,0:2],
                                                 df.iloc[:,-1],
                                                 test_size = 0.2,
                                                 random_state = 0)
X_train.shape, X_test.shape

((40, 2), (10, 2))

## Ordinal Encoding

- Used when order matters

In [7]:
from sklearn.preprocessing import OrdinalEncoder

- Passing in order we need

In [8]:
oe = OrdinalEncoder(categories=[['Poor', 'Average', 'Good'],['School','UG','PG']])

oe.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [9]:
X_train = oe.transform(X_train)
X_test = oe.transform(X_test)

oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

## Label Encoding

-  used on target variable

In [10]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(y_train)

LabelEncoder()

In [11]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [12]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)